<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>نرم افزار جامع رستوران ها و شعب</title>

    <link rel="shortcut icon" href="/templates/Restaurant/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/templates/Restaurant/favicon.ico" type="image/x-icon">

    <link href="/templates/FoodApp/plugins/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet">
    <link href="/templates/FoodApp/plugins/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="/templates/FoodApp/plugins/fontawesome/css/brands.css" rel="stylesheet">
    <link href="/templates/FoodApp/plugins/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/templates/FoodApp/plugins/fontawesome/css/regular.min.css" rel="stylesheet">
    <link href="/lib/noty/noty.css" rel="stylesheet">
    <link href="/lib/noty/themes/sunset.css" rel="stylesheet">
    <link href="/templates/FoodApp/plugins/slick/slick.css" rel="stylesheet">
    <link href="/templates/FoodApp/plugins/slick/slick-theme.css" rel="stylesheet">
    <link href="/templates/FoodApp/css/fa_app_style.css" rel="stylesheet">

    <script src="~/templates/FoodApp/js/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="~/lib/noty/noty.min.js" type="text/javascript"></script>
    <script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/js/BaseSystem.js" type="text/javascript"></script>
</head>
<body>

    @RenderBody()

    <script src="~/templates/FoodApp/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/templates/FoodApp/plugins/slick/slick.min.js" type="text/javascript"></script>
    <script src="~/templates/FoodApp/js/fa_app_script.js" type="text/javascript"></script>
</body>
</html>